# Coding-style configuration. See https://editorconfig.org
root = true

[*]
end_of_line = lf
charset = utf-8

[*.yml]
indent_style = space
indent_size = 2

[./{src,tests}/*.ts]
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 2

# npm inserts a final newline.
[package.json,travis.yml]
insert_final_newline = true
trim_trailing_whitespace = false
indent_style = space
indent_size = 4

# Tab indentation (no size specified)
[Makefile]
indent_style = tab
